each error, i in errs
    testcase(classname="#{error.suite}", name="#{error.test}", message="#{error.type}")
        failure(classname="#{error.suite}", name="#{error.test}")
            :cdata
                #{error.stack}